:root {
    --text-color: #414260;
    --text-color-2: #898A9E;
    --background-color: #FFFAF4;
    --accent-color: #9263AB;
    --accent-color-2: #FFD6D6;
    --accent-color-3: #150C1C;
    --accent-color-4: #FFDA72;
    --accent-color-5: #FF9F9F;
    --accent-color-6: #BFB5C6;
    --font-1: Inter, sans-serif
}

body {
    font-family: var(--font-1);
    color: var(--text-color);
    font-weight: 400
}

h1 {
    font-size: 70px
}

h2 {
    font-size: 60px
}

h3 {
    font-size: 50px
}

h4 {
    font-size: 24px
}

h5 {
    font-size: 20px
}

span,
button,
a {
    font-size: 16px;
    font-weight: 400
}

p {
    font-size: 16px;
    font-family: var(--font-1);
    font-weight: 400
}

ul {
    list-style: none
}


li {
    font-size: 16px;
    font-family: var(--font-1)
}

img {
    object-fit: cover
}

button {
    padding-inline: 1rem;
    padding-block: .5rem;
    text-decoration: none;
    transition: all .5s
}


.text-color {
    color: var(--text-color)
}

.text-color-2 {
    color: var(--text-color-2)
}


a {
    text-decoration: none
}

.w-max-content {
    width: max-content !important
}


.font-1 {
    font-family: var(--font-1)
}


.nav-link {
    border-bottom: 2px solid transparent;
    font-size: 1.1rem;
    font-family: var(--font-1);
    padding-block: 1.2rem;
    color: var(--text-color);
    text-align: center
}

.nav-link.active {
    color: var(--accent-color) !important;
    text-align: center
}

.navbar-toggler {
    border: none;
    color: var(--accent-color-2)
}


.section {
    padding: 6em 2em;
    overflow: hidden;
    background-size: cover;
    background-position: center
}

.r-container {
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto
}

.bg-accent-2 {
    background-color: var(--accent-color-2)
}

.bg-accent-6 {
    background-color: var(--accent-color-6)
}

.bg-accent {
    background-color: var(--background-color)
}

.bg-text-color-2 {
    background-color: var(--text-color-2)
}

.accent-color {
    color: var(--accent-color)
}

.accent-color-2 {
    color: var(--accent-color-2)
}

.accent-color-4 {
    color: var(--accent-color-4)
}

.accent-color-5 {
    color: var(--accent-color-5)
}

.outline {
    color: #fff;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--text-color)
}

.btn {
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center
}

.btn-accent {
    background-color: var(--text-color);
    color: #fff;
    transition: all .5s;
    border: 1px solid transparent;
    border-radius: 30px
}

.blog-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(179.87deg, rgba(21, 12, 28, 0) 0.12%, rgba(65, 66, 96, 0.86) 107.53%);
    transition: background 0.3s, border-radius 0.3s, opacity .3s
}

.image-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #180e0e;
    opacity: .6;
    transition: background 0.3s, border-radius 0.3s, opacity .3s
}

.linear-gradient {
    padding: 20px;
    background: linear-gradient(270deg, #FFD6D6 0%, #9263AB 100%);
    border-radius: 50px;
    width: max-content
}


.logo-container {
    max-width: 180px
}

.bg-attach-fixed {
    background-attachment: fixed
}

.social-container {
    display: flex;
    flex-direction: row;
    gap: 1rem
}


.customer-item {
    border-radius: 50%;
    aspect-ratio: 1/1;
    font-size: 19px;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-2);
    margin-left: -6px;
    overflow: hidden
}

.customer-item:nth-child(1) {
    z-index: 6
}


.contact-item {
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 1.5rem;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
    color: #fff
}

.social-item {
    border-radius: 50%;
    aspect-ratio: 1/1;
    font-size: 19px;
    width: 2rem;
    height: 2rem;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
    color: #fff
}

.social-container.team .social-item {
    width: 1.8rem;
    height: 1.8rem;
    font-size: 16px
}
